<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="api-tester.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="ProxyApiToNode3000" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/api/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false" />
    </system.webServer>
</configuration>
